<div class="container">

  <h1>Estos son los datos de tu usuario</h1>
  <div>
    <ul>
      <li>Mail: <span class="m-1"></span>{{email}}</li>
      <li>Username: <span class="m-1"></span>{{username}}</li>
      <li>Direccion: <span class="m-1"></span>{{direccion}}</li>
      <li>Edad: <span class="m-1"></span>{{edad}}</li>
      <li>Telefono: <span class="m-1"></span>{{tel}}</li>
      <li>Foto: <span class="m-1"></span>{{foto}}</li>
    </ul>
  </div>
  <button
    class="btn btn-success my-5"
    onclick="location.href='/api/usuarios/datos'"
  >Ir a datos de usuario</button>
</div>